/* Add your custom CSS here */
:root {
  --Clr: rgb(153, 221, 202);
}

.gameText{
  color:seagreen;
  margin-left: 15;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.gameUI{
  width: 100%;
  height: 100%;
  background-color: var(--Clr);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  z-index: 2;
}

/* Highlight the game container when you click on it */
#game-container.active canvas {
    box-shadow: 0 0 4px dodgerblue;
}

#game-container {
    z-index: 2;
}
